@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@300&display=swap');

#corpo {
    height: 850px;
    background-image: url('https://amanha.com.br/images/p/11913/b2ap3_large_Vista-do-Jardim-Botnico-em-Curitiba.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  #titulo {
    color: white;
    text-align: center;
    font-family: 'Mochiy', cursive;
    font-size: 50px;
    font-style: oblique;
    font-weight: 200;
    background-color: rgb(131, 168, 131);
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
  }

#texto {
    font-family: 'Poppins';
    padding: 20px;
    text-align:justify;
    font-size: 20px;
    font-style: oblique;
    
}

  html * {
    color: white;
    margin: 0;
    padding: 0;
}

header {
    display: block;
}

#principal {
  font-family: 'Poppins';
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-style: oblique;
    
  
}

.subtitulo {
  color: white;
  background-color: rgb(131, 168, 131);
  text-align: center;
  font-family: 'Mochiy', cursive;
  font-size: 40px;
  font-style: oblique;
  font-weight: 200;
  position:relative;
  background-size: cover;
  opacity: 0.7;
  }

.icones {
  margin: 20px;
  width: 70px;
  height: 70px;
}

.lista {
  text-align: left;
  padding: 40px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  background-color:rgb(131, 168, 131);
  gap: 5px;
}

.grid-item {
  background-color:rgb(0, 0, 0);
  color: #FFF;
  text-align: center;
  padding: 15px;
}