@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@300&display=swap');

#corpo {
    height: 850px;
    background-image: url('https://amanha.com.br/images/p/11913/b2ap3_large_Vista-do-Jardim-Botnico-em-Curitiba.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  #titulo {
    color: white;
    text-align: center;
    font-family: 'Mochiy', cursive;
    font-size: 32px;
    font-style: oblique;
    font-weight: 200;
    background-color: rgb(131, 168, 131);
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

#texto {
    font-family: 'Poppins';
    padding: 20px;
    text-align: center;
    font-size: 16px;
    font-style: oblique;
    
}

  html * {
    color: white;
    margin: 0;
    padding: 0;
}

header {
    display: block;
}

#principal {
  font-family: 'Poppins';
    padding: 20px;
    text-align: left;
    font-size: 16px;
    font-style: oblique;
    
  
}

.subtitulo {
  color: white;
  background-color: rgb(131, 168, 131);
  text-align: left;
  font-family: 'Mochiy', cursive;
  font-size: 32px;
  font-style: oblique;
  font-weight: 200;
  padding: 10px;
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  

}

.icones {
  margin: 20px;
  width: 70px;
  height: 70px;
}