body{
    height: 2000px;
}


#div1{
    border-width: 8px;
    border-style: double;
    border-color: black;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}

#div2{
    border-width: 8px;
    border-style: double;   
    border-color: black;
    box-sizing: border-box;
    width: 200px;
    position: absolute;
    right: 0;
    top: 0;
   
}

#div3{
    border-width: 8px;
    border-style: double;   
    border-color: black;
    box-sizing: border-box;
    width: 200px;
    position: fixed;
    left: 40%;
    bottom: 0;
}

